@import url("./_globales.scss");
header {
  width: 100%;
  max-width: 644px;
}
header .Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
header .Header__infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .Header__infoContainer__title {
  font-size: 3rem;
  width: 50%;
}
header .Header__infoContainer__title__decor {
  display: inline-flex;
  margin-inline: 4px;
  color: #009AFF;
}
header .Header__infoContainer__info {
  font-size: 1.4rem;
  font-weight: 500;
}
header .Header__bar {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #2D3C4F;
  box-shadow: 0px 1px 1px 0px rgba(84, 67, 67, 0.66);
  overflow: hidden;
}
header .Header__bar__pogressBar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2D3C4F;
  border: none;
  border-radius: 0.5rem;
  bottom: 0;
  display: flex;
  left: 0;
  line-height: 5px;
  vertical-align: 10px;
  z-index: 1;
}
header .Header__bar__percent {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  z-index: 5;
}
header .searchAddToDo {
  display: flex;
  align-items: center;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 8px;
}
header .searchAddToDo__inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 12px;
  border-radius: 8px;
  background-color: #2D3C4F;
  box-shadow: 1px 2px 2px 0px rgba(84, 67, 67, 0.6588235294);
}
header .searchAddToDo__inputContainer__icon {
  width: 16px;
  margin-left: 10px;
  margin-right: 4px;
}
header .searchAddToDo__inputContainer__input {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  height: 100%;
  margin-left: 6px;
  font-size: 1.4rem;
  background-color: transparent;
}
header .searchAddToDo__btnAdd {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
header .searchAddToDo__btnAdd:hover svg path {
  fill: #009AFF;
}

.tasksContainer {
  width: 100%;
  max-width: 644px;
}
.tasksContainer__list {
  list-style: none;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 0px rgba(84, 67, 67, 0.6588235294);
  overflow: hidden;
}
.tasksContainer__list__item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  width: 100%;
  height: 57px;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 0.1px solid #59697D;
  background-color: #2D3C4F;
}
.tasksContainer__list__item__taskContainer {
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
.tasksContainer__list__item__taskContainer .taskComplete {
  display: block;
  width: 20px;
  text-align: center;
  margin-right: 14px;
  border-radius: 50%;
  cursor: pointer;
}
.tasksContainer__list__item__taskContainer .task {
  width: 80%;
}
.tasksContainer__list__item__taskContainer .taskDone {
  text-decoration: line-through;
}
.tasksContainer__list__item__edit {
  align-self: center;
  width: 17px;
  cursor: pointer;
}
.tasksContainer__list__item__edit:hover svg path {
  fill: #009AFF;
}
.tasksContainer__list__item__delete {
  align-self: center;
  width: 17px;
  margin-right: 20px;
  cursor: pointer;
}
.tasksContainer__list__item__delete:hover svg path {
  fill: rgb(192, 57, 43);
}
.tasksContainer__list__item:last-child {
  border-bottom: none;
}

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 11, 17, 0.2901960784);
}
.modalContainer__modal {
  position: relative;
  top: 150px;
  left: calc(50% - 177px);
  display: flex;
  flex-direction: column;
  width: 354px;
  height: 194px;
  padding: 24px 16px;
  border-radius: 8px;
  background-color: #2D3C4F;
}
.modalContainer__modal__closeIcon {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 30px;
  cursor: pointer;
}
.modalContainer__modal__closeIcon:hover svg path {
  fill: rgb(192, 57, 43);
}
.modalContainer__modal__title {
  font-size: 2rem;
  font-weight: 500;
}
.modalContainer__modal__form {
  width: 100%;
  margin-top: 25px;
}
.modalContainer__modal__form .taskInput {
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.modalContainer__modal__form .taskInput:focus {
  border-bottom: 1px solid #009AFF;
}
.modalContainer__modal__form .btnModal {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #59697D;
  color: #fff;
  cursor: pointer;
}
.modalContainer__modal__form .btnModal:hover {
  background-color: #009AFF;
}
.modalContainer__changesAlert {
  position: relative;
  top: 150px;
  left: calc(50% - 177px);
  display: flex;
  flex-direction: column;
  width: 354px;
  height: 194px;
  padding: 24px 16px;
  border-radius: 8px;
  background-color: #2D3C4F;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modalContainer__changesAlert__btnRefresh {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #59697D;
  color: #fff;
  cursor: pointer;
}
.modalContainer__changesAlert__btnRefresh:hover {
  background-color: #009AFF;
}

.noTasks {
  color: #fff;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
